@import '~antd/dist/antd.css';
@import './index.css';


.App {
    text-align: center;
  }

.App-link {
  color: #61dafb;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
}

h2 {
  font-family: 'Rubik Mono One', sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}


.example-input .ant-input {
  width: 200px;
  margin: 0 8px 8px 0;
}

.ant-list {
  width: 30%;
  border: 1px solid green;
  display: flex;
  background-color: #bac2be;
  margin: 0 auto;
}

.ant-btn {
  margin: 10px auto 20px auto;
}

.ant-list-item {
  padding: 12px 10px;
}

a {
  color: green;
}

.ant-btn-primary {
  background-color: green;
}

.ant-select-selection {
  margin: 20px 5px;
}

.item-detail {
  font-size: 18px;
}

.item-property {
  font-weight: bold;
}

.back-link {
  display: flex;
  margin: 10px;
  font-size: 18px;
}

.to-profile-link {
  display: flex;
  margin: 10px;
  font-size: 18px;
}

.clearfix {
  display: flex;
  justify-content: space-between;

}

.clearfix::before {
  content: none;
}

.clearfix::after {
  content: none;
}

label {
  font-size: 20px;
  padding: 10px;
}

.ant-table-wrapper {
  display: flex;
  justify-content: center;
}

.ant-table-pagination.ant-pagination {
  float: none;
}

.user-links {
  font-size: 25px;
}

.ant-table {
  font-size: 18px;
}

.user-detail-items {
  font-size: 18px;
}

.recycling-guide {
  margin: 20px auto;
}

.recycling-guide-png {
  width: 30%;
}

.location-symbol {
  width: 20px;
}

.recycle-symbol {
  width:30px;
}