@import '~antd/dist/antd.css';
@import './index.css';


  .App {
    text-align: center;
  }

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}


.example-input .ant-input {
  width: 200px;
  margin: 0 8px 8px 0;
}

.ant-list {
  width: 50%;
  border: 1px solid green;
  display: flex;
  background-color: #bac2be;
  margin: 0 auto;
}

.ant-btn {
  margin: 20px;
}

.ant-list-item {
  padding: 12px 10px;
}

a {
  color: green;
}

.ant-btn-primary {
  background-color: green;
}

.ant-select-selection {
  margin: 20px 5px;
}

.item-property {
  font-weight: bold;
}

.back-link {
  display: flex;
  align-content: flex-start;
  margin: 10px;
}